.dress-code {
  text-align: center;
  background: linear-gradient(#eee4d6, #f5f2e9 35%);
  > p {
    max-width: 440px;
    margin: auto;
  }
}
.dress-cards {
  display: grid;
  gap: 20px;
  max-width: 1080px;
  margin: 40px auto 24px;
  article {
    padding: 34px 18px 25px;
    border: 1px solid #bfc5b3;
    background: #f5f2e9;
    h3 {
      margin: 15px 0 8px;
      font-size: 35px;
    }
    > p {
      font-size: 16px;
    }
    &:last-child {
      border-color: #cfb8a3;
      h3 {
        color: #995b40;
      }
    }
  }
}
@media (min-width: 768px) {
  .dress-cards {
    grid-template-columns: 1fr 1fr;
    article {
      padding: 45px 20px 30px;
    }
  }
}
